$radius: 18%;

.img {
  border-radius: $radius;
}
body {
  background-color: aquamarine;
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
  float: left;
  word-wrap: break-word;
  margin:auto
}
